language: python

sudo: false

cache:
  directories:
    - ~/.cache/pip

env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels

python:
  - "3.9"

before_install:
  - pip install -U pip
  - pip install -r requirements-dev.txt

install:
  - pip install -e .[test]

script:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.9 ]]; then pre-commit run --all-files; fi
  - python -m pytest --cov rio_color --cov-report term-missing

after_success:
  - coveralls
